@import url("https://fonts.cdnfonts.com/css/trade-gothic-lt-std");

$nike-font: "Trade Gothic LT Std", sans-serif;
$nike-reg: 400;
$nike-bold: 700;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $nike-font;
}

// ===== Nav Top Styles ===== //

.nav-top {
  display: flex;
  justify-content: center;
  height: 3em;
  background-color: rgb(245, 245, 245);
  .nav-top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    max-height: 60px;
    height: 100%;
    @media screen and (max-height: 980px) {
      padding: 0 38px 0 36px;
    }

    .nav-top-left {
      height: 100%;
      display: flex;
      align-items: center;

      img {
        padding-inline: 13px;
        padding-block: 7px;
      }
    }

    .nav-top-right {
      height: 100%;
      display: flex;
      align-items: center;
      margin-top: 1px;
      button {
        width: fit-content;
        height: 90%;
        vertical-align: middle;
        border: none;
        margin-inline: 8px;
        background-color: transparent;
      }

      a {
        text-decoration: none;
        color: black;
        font-size: 12px;
        padding-block: 15%;
        letter-spacing: 0.1px;

        &:hover {
          color: rgb(106, 106, 106);
        }
      }

      span {
        margin-top: 4.5px;
        margin-inline: 4.5px;
        font-size: 15.5px;
      }
    }
  }
}

// ===== Nav Bottom Styles ===== //

.nav-bottom {
  display: flex;
  justify-content: center;
  height: 5em;
  .nav-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    max-height: 60px;
    height: 100%;
    @media screen and (max-height: 980px) {
      padding: 0 38px 0 36px;
    }

    .nav-bottom-left {
      width: 10%;
      img {
        padding-inline: 13px;
        padding-block: 15%;
      }
    }

    .nav-bottom-right {
      display: flex;
      height: 100%;
      align-items: center;

      img {
        width: 32px;
        height: 32px;
        border-radius: 47%;
        padding: 1.75px 4px;
        &:hover {
          background-color: rgb(220, 220, 220);
        }
      }

      .nav-search {
        height: 65%;
        margin: auto;
        background-color: rgb(245, 245, 245);
        display: flex;
        align-items: center;
        width: 180px;
        border-radius: 20px;
        margin-right: 10px;

        &:hover {
          background-color: rgb(220, 220, 220);
        }

        input {
          background-color: transparent;
          border: none;
          outline: none;
          font-size: 16px;
          padding-left: 8px;

          &::placeholder {
            color: rgb(209, 209, 209);
          }
        }
      }

      .search-icons {
        img {
          margin: 5px 0 0 15px;
        }
      }
    }
  }
}
